version: 2.1

# Defining default values for all jobs
defaults: &defaults
    docker:
        - image: cimg/node:lts

jobs:
    setup_project:
        <<: *defaults
        steps:
            - checkout:
                  method: full
            - run:
                  name: Install jq
                  command: |
                      sudo apt-get update
                      sudo apt-get install -y jq
            - run:
                  name: Install Salesforce DX
                  command: |
                      openssl version
                      openssl enc -nosalt -aes-256-cbc -d -in assets/server.key.enc -out assets/server.key -base64 -K $ENCRYPTION_KEY -iv $ENCRYPTION_IV
                      export SF_USE_GENERIC_UNIX_KEYCHAIN=true
                      export SF_DOMAIN_RETRY=300
                      export SF_LOG_LEVEL=debug
                      export SF_IMPROVED_CODE_COVERAGE=true
                      node -v
                      npm install @salesforce/cli@2.86.9
                      npx sf --version
                      npx sf plugins --core
            - persist_to_workspace:
                  # This is an important step. If we don't store the project data (cloned GitHub source and node_modules from the CLI installation)
                  # we'd have to re-run installation for every workflow step.
                  #
                  # Also this step is crucial as we use it to share sfdx config parameters between steps.
                  root: ~/
                  paths:
                      - project/*
    setup_dx:
        # This command runs the preparation steps needed for the CI workflow:
        #
        # - Installation of the Salesforce CLI using npm
        # - Authentication of the DevHub
        # - Creation of a scratch org
        #
        # While a scratch org isn't needed in all steps it's still part of the process. The reason for this is
        # that we need to store the sfdx configuration files for it in the workspace, so that data can be shared
        # across different workflow steps.
        #
        # Keep it simple!
        <<: *defaults
        steps:
            - attach_workspace:
                  at: ~/
            - run:
                  name: Authenticate DevHub
                  command: |
                      npx sf auth jwt grant --clientid $CONSUMERKEY --jwtkeyfile assets/server.key --username $USERNAME --setdefaultdevhubusername -a HubOrg
            - run:
                  name: Define CI Org
                  command: |
                      npx sf org create scratch -v HubOrg -d -f config/$CONFIG_FILE.json -a ciorg -y 1 --wait 10
            - run:
                  name: Remove Server Key
                  when: always
                  command: |
                      rm assets/server.key
            - persist_to_workspace:
                  # This is an important step. If we don't store the project data (cloned GitHub source and node_modules from the CLI installation)
                  # we'd have to re-run installation for every workflow step.
                  #
                  # Also this step is crucial as we use it to share sfdx config parameters between steps.
                  root: ~/
                  paths:
                      - .sfdx/*
                      - project/*
    deploy_source:
        # This deploys the source to the ci scratch org.
        <<: *defaults
        steps:
            - attach_workspace:
                  at: ~/
            - run:
                  name: Push Source
                  no_output_timeout: 30m
                  command: |
                      npx sf project deploy start -o ciorg -w 25
            - run:
                  name: Clean Up
                  command: |
                      npx sf org delete scratch -o ciorg -p
                  when: on_fail

    run_apex_tests:
        <<: *defaults
        steps:
            - attach_workspace:
                  at: ~/
            - run:
                  name: Retrieve User ID and Setup Debug Mode
                  command: |
                      # Retrieve User ID
                      USER_ID=$(npx sf force user display --target-org ciorg --json | jq -r '.result.id')

                      echo "User ID: $USER_ID"

                      # Create a DebugLevel
                      DEBUG_LEVEL_ID=$(npx sf data create record --target-org ciorg --use-tooling-api --sobject DebugLevel --values "DeveloperName='MyDebugLevel' MasterLabel='My Debug Level' ApexCode='DEBUG' ApexProfiling='INFO' Callout='INFO' Database='INFO' System='DEBUG' Validation='INFO' Visualforce='INFO' Workflow='INFO'" --json | jq -r '.result.id')

                      echo "Debug Level ID: $DEBUG_LEVEL_ID"

                      # Set ExpirationDate to 30 minutes from now
                      EXPIRATION_DATE=$(date -u -d '+30 minutes' +'%Y-%m-%dT%H:%M:%SZ')

                      # Create a TraceFlag
                      npx sf data create record --use-tooling-api --sobject TraceFlag --values "DebugLevelId='$DEBUG_LEVEL_ID' ExpirationDate='$EXPIRATION_DATE' LogType='USER_DEBUG' TracedEntityId='$USER_ID'" --target-org ciorg
            - run:
                  name: Run Apex Tests
                  command: |
                      npx sf apex run test -o ciorg --code-coverage -r human -d ~/apex_tests --wait 15
            - run:
                  name: Retrieve and Print Debug Log
                  command: |
                      # Get the list of debug logs
                      LOGS=$(npx sf apex list log --target-org ciorg --json)

                      # Extract the log IDs where Operation is "ApexTestHandler" and print the debug log for each ID
                      echo "$LOGS" | jq -r '.result[] | select(.Operation == "ApexTestHandler") | .Id' | while read LOG_ID; do
                          echo "Log ID: $LOG_ID"
                          npx sf apex get log --log-id $LOG_ID --target-org ciorg
                      done
                  when: on_fail

            - run:
                  name: Clean Up
                  command: |
                      # Delete the scratch org
                      npx sf org delete scratch -o ciorg -p
                  when: on_fail
            - persist_to_workspace:
                  root: ~/
                  paths:
                      - apex_tests/*
                  when: on_success

    run_lwc_tests:
        <<: *defaults
        steps:
            - attach_workspace:
                  at: ~/
            - run:
                  name: Run LWC Tests
                  command: |
                      npm run test:unit:coverage
    report_coverage:
        <<: *defaults
        steps:
            - attach_workspace:
                  at: ~/
            - run:
                  name: Report Coverage
                  command: |
                      cp ~/apex_tests/test-result-codecoverage.json .
                      bash <(curl -s https://codecov.io/bash)
                      rm -f test-result-codecoverage.json
                      node_modules/codecov/bin/codecov
    cleanup_scratch_org:
        <<: *defaults
        steps:
            - attach_workspace:
                  at: ~/
            - run:
                  name: Clean Up
                  command: |
                      npx sf org delete scratch -o ciorg -p

workflows:
    version: 2.1
    build_and_test:
        jobs:
            - setup_project
            - setup_dx:
                  requires:
                      - setup_project
            - deploy_source:
                  requires:
                      - setup_dx
            - run_lwc_tests:
                  requires:
                      - setup_project
            - run_apex_tests:
                  requires:
                      - deploy_source
            - report_coverage:
                  requires:
                      - run_apex_tests
                      - run_lwc_tests
                  filters:
                      branches:
                          only: master
            - cleanup_scratch_org:
                  requires:
                      - run_apex_tests
